<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categoryData</key>
	<dict>
		<key>categoryColor_Expand</key>
		<array>
			<string>#ffcc66</string>
			<string>#3399ff</string>
			<string>#a366ff</string>
			<string>#ff6633</string>
			<string>#adad85</string>
			<string>#ff0000</string>
			<string>#2d5986</string>
			<string>#ffccff</string>
			<string>#336600</string>
			<string>#ffa31a</string>
			<string>#4d0099</string>
		</array>
		<key>categoryColor_Income</key>
		<array>
			<string>#cc9966</string>
		</array>
		<key>categoryName_Expand</key>
		<array>
			<string>飲食</string>
			<string>交通</string>
			<string>娛樂</string>
			<string>購物</string>
			<string>個人</string>
			<string>醫療</string>
			<string>家居</string>
			<string>家庭</string>
			<string>生活</string>
			<string>學習</string>
			<string>其他</string>
		</array>
		<key>categoryName_Income</key>
		<array>
			<string>收入</string>
		</array>
		<key>detailCategory_Income</key>
		<array>
			<array>
				<string>薪水</string>
				<string>獎金</string>
				<string>投資</string>
				<string>還款</string>
				<string>彩券</string>
				<string>利息</string>
			</array>
		</array>
		<key>detailCategory_Expand</key>
		<array>
			<array>
				<string>早餐</string>
				<string>午餐</string>
				<string>晚餐</string>
				<string>點心</string>
				<string>飲料</string>
				<string>酒類</string>
				<string>水果</string>
				<string>宵夜</string>
				<string>下午茶</string>
			</array>
			<array>
				<string>加油費</string>
				<string>停車費</string>
				<string>公車</string>
				<string>火車</string>
				<string>計程車</string>
				<string>汽車</string>
				<string>摩托車</string>
				<string>單車</string>
				<string>飛機</string>
				<string>船</string>
			</array>
			<array>
				<string>電影</string>
				<string>遊樂園</string>
				<string>展覽</string>
				<string>影音</string>
				<string>音樂</string>
				<string>遊戲</string>
				<string>博弈</string>
				<string>消遣</string>
				<string>運動</string>
				<string>健身</string>
				<string>夜店</string>
			</array>
			<array>
				<string>市場</string>
				<string>衣物</string>
				<string>鞋子</string>
				<string>配件</string>
				<string>包包</string>
				<string>美妝保養</string>
				<string>精品</string>
				<string>禮物</string>
				<string>書籍</string>
				<string>電子</string>
				<string>App</string>
			</array>
			<array>
				<string>社交</string>
				<string>通話費</string>
				<string>借款</string>
				<string>投資</string>
				<string>稅金</string>
				<string>保險</string>
				<string>捐款</string>
				<string>寵物</string>
				<string>彩券</string>
				<string>手續費</string>
			</array>
			<array>
				<string>門診</string>
				<string>牙齒保健</string>
				<string>藥品</string>
				<string>醫療用品</string>
				<string>打針</string>
				<string>住院</string>
				<string>手術</string>
				<string>健康檢查</string>
			</array>
			<array>
				<string>日常用品</string>
				<string>水費</string>
				<string>電費</string>
				<string>燃料費</string>
				<string>家用電話費</string>
				<string>網路費</string>
				<string>房租</string>
				<string>洗衣費</string>
				<string>修繕費</string>
				<string>傢俱</string>
				<string>訂閱書報</string>
				<string>家電</string>
			</array>
			<array>
				<string>生活費</string>
				<string>教育</string>
				<string>看護</string>
				<string>玩具</string>
				<string>才藝</string>
			</array>
			<array>
				<string>美容美髮</string>
				<string>泡湯</string>
				<string>按摩</string>
				<string>住宿</string>
				<string>旅行</string>
				<string>派對</string>
			</array>
			<array>
				<string>課程</string>
				<string>教材</string>
				<string>證書</string>
				<string>探索</string>
				<string>文具</string>
			</array>
			<array>
				<string>其他</string>
			</array>
		</array>
	</dict>
	<key>managerProject</key>
	<array>
		<string>Default Project</string>
	</array>
	<key>nowIsExpand</key>
	<true/>
	<key>nowSelectedProject</key>
	<string>Default Project</string>
</dict>
</plist>
